CONFIG_ARM=y
CONFIG_ARCH_S5PC210=y
CONFIG_TARGET_SMDKC210=y
CONFIG_IDENT_STRING=" for SMDKC210"
CONFIG_DEFAULT_DEVICE_TREE="s5pc1xx-smdkc210"
CONFIG_BOOTDELAY=3
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="SMDKC210 # "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y
# CONFIG_MMC is not set
